<div class="content-wrapper" id="content-wrapper">

    <p class="headL">О себе</p>
    <div class="contex">
        <button class="photoMy" hx-get="/popup/photo/photo/photo.png" hx-target="#popup-container" hx-swap="innerHTML"
            style="margin-top: 20px; cursor: zoom-in;">
            <img src="/~s563212/lab1/static/images/photo/photo.png">
        </button>
        <p class="text2">Меня зовут Артем Попов, 21 год.</p>
        <p class="text2 pr">
            С первого класса я обучался в гимназии 717, <br>г. Москва. После 4 класса поступил в математический класс
            гимназии
            1576. С 6 класса занимался программированием и работой с микроконтроллером LEGO Mindstorms, принимал участие
            в
            различных соревнованиях по робототехнике.
            Собрал на базе Mindstorms
            <span class="hint">
                15-сегментный принтер.
                <span class="tooltip" lang="ru">Чековая потоковая лента, которая может двигаться вперед-назад. Каждый
                    символ - отдельный элемент, состоящий из 15 возможных линий. Первый шаговый двигатель двигает ленту,
                    второй - маркер, третий приподнимает маркер при необходимости<br>
                    <img src="/~s563212/lab1/static/images/15-segment.svg" style="height: 80px; width: auto; rotate: 90;">
                </span>
            </span> Преподавал для младших классов курс программирования этой платформы.
        </p>
        <p class="text2 pr">
            В 8 классе поступил в инженерную школу 1581 при МГТУ им Н.Э. Баумана. Начал изучать
            программирование микроконтроллеров на базе чипов ATMEGA и ESP. В 10 классе выступал с проектом полетного
            контроллера с автокалибровкой, стал призером конкурса проектов и исследований
            <span class="hint" hx-get="/popup/photo/diplomas/1581-engeneer.jpg" hx-target="#popup-container"
                hx-swap="innerHTML">
                «Инженеры Будущего» 2021.
                <span class="tooltip">Диплом <img src="/~s563212/lab1/static/images/save.png" style="height: 12px;"></span>
            </span>
        </p>
        <p class="text2 pr">
            C 9 класса наравне с программированием микроконтроллеров начал изучать Python. Было несколько небольших
            проектов, таких как синхронизатор файлов, мессенджер, различные автоматизаторы. В дальнейшем работал над
            более
            крупными проектами.
        </p>
        <p class="text2 pr">
            Также в 9 классе записался в инженерный клуб при лицее, в котором впервые познакомился с 3Д печатью. Купил
            себе
            3д принтер домой, начал развиваться в данной области. В дальнейшем проектировал собственные узлы,
            модифицировал
            как ПО так и само оборудование. Получил признание от специалиста с 12-летним стажем к 1 курсу университета.
        </p>
        <p class="text2 pr">
            Участвовал в олимпиаде школьников "Шаг в будущее", занял второе место, за счет чего поступил в МГТУ Н.Э.
            Баумана по БВИ. На первом курсе начал разработку устройства трансляции данных по сети для интерфейса USB,
            <span class="hint" hx-get="/pages/MS/MSCOM" hx-swap="outerHTML" hx-target="#content-wrapper">
                MSCOM.
                <span class="tooltip">Проект <img src="/~s563212/lab1/static/images/link.png" style="height: 12px;"></span>
            </span>
            В дальнейшем с этим проектом участвовал в акселераторе
            <span class="hint" hx-get="/popup/photo/diplomas/technoliders-2024.jpg" hx-target="#popup-container"
                hx-swap="innerHTML">
                «Технолидеры Москвы 23-24»
                <span class="tooltip">Диплом <img src="/~s563212/lab1/static/images/save.png" style="height: 12px;"></span>
            </span>и всероссийском чемпионате
            <span class="hint" hx-get="/popup/photo/diplomas/3d-profi-2024.jpg" hx-target="#popup-container"
                hx-swap="innerHTML">
                «3Д-Профи 2024»,
                <span class="tooltip">Диплом <img src="/~s563212/lab1/static/images/save.png" style="height: 12px;"></span>
            </span> где занял призерские места.
        </p>
        <p class="text2 pr">
            Присутствующий на мероприятиях руководитель ведущей российской компании по
            разработке 3д сканеров
            <a class="hint" href="https://rangevision.com/?ysclid=mpdyfrnk3v360351468" target="_blank">
                Range Vision,
                <span class="tooltip">Range Vision <img src="/~s563212/lab1/static/images/link.png" style="height: 12px;"></span>
            </a> Юрий Чайкин, выразил заинтересованность в проекте, так как существовала
            проблема помех при большой
            длине кабеля сканера, которую решало мое устройство.
        </p>
        <p class="text2 pr">
            На мероприятии также познакомился с
            <a class="hint" href="https://2cifra.ru/sveden/employees/lecturers/mikhail-shishkin/" target="_blank">
                Шишкиным Михаилом,
                <span class="tooltip">Шишкин Михаил <img src="/~s563212/lab1/static/images/link.png" style="height: 12px;"></span>
            </a> генеральным директором <a class="hint" href="https://rec3d.ru/o-nas/" target="_blank">
                ООО "REC",
                <span class="tooltip">ООО "REC" <img src="/~s563212/lab1/static/images/link.png" style="height: 12px;"></span>
            </a> чья компания является ведущим российским производителем филамента. В результате, удалось пройти
            стажировку
            в компании
            летом 2024 года, где получил высокую оценку моих навыков.
        </p>
        <p class="text2 pr">
            В результате потери промежуточных демонстрационных материалов по проектам из-за их удаления в группе
            Телеграм, был разработан
            <span class="hint">
                Бот архиватор,
                <span class="tooltip" lang="ru">
                    Суть бота в том, чтобы предоставить пользователю защиту от удаления контента/сообщений. Бот
                    позиционируется как self-hosted система.<br><br>
                    При настройке он запрашивает определенные данные у пользователя, что по сути дает ему полный доступ
                    к
                    аккаунту. Он считывает все сообщения, мультимедия и прочее, что отправляет пользователь. Все
                    сообщения
                    сохраняются в БД, а прикрепленные материалы, в папку, архивируясь по прошествии определенного
                    времени.
                    Используется библиотека user-bot.<br><br>
                    Важно отметить, что отслеживаются и сохраняются только сообщения пользователя и на оборудовании
                    пользователя, что не влечет за сосбой никокой ответственности.
                </span>
            </span>
            для автоматического сохранения отправляемых мной куда-либо материалов на личный сервер,
            который приостановил свое функционирование весной 2026 года, в результате ограничений доступа. На данный
            момент
            восстанавливается доступ и улучшается функциональность.
        </p>

        <p class="text2 d-none pr">
            В результате конфликта администратором группы Телеграмм, где общался с друзьями и куда отправлял большое
            количество промежуточных демонстрационных материалов по проектам для ознакомления, эти материалы были
            удалены, в
            связи с чем был
            разработан
            <span class="hint" hx-get="/pages/projects/archiveBot" hx-swap="outerHTML" hx-target="#content-wrapper">
                Бот архиватор,
                <span class="tooltip">Проект <img src="/~s563212/lab1/static/images/link.png" style="height: 12px;"></span>
            </span> для автоматического сохранения отправляемых мной куда-либо материалов на личный сервер,
            который приостановил свое функционирование весной 2026г, в результате ограничений доступа. На данный момент
            восстанавливается доступ и улучшается функциональность.
        </p>

        <p class="text2 pr">
            Также был разработан Телеграм-бот-библиотекарь,
            <span class="hint">
                Bot_Surveyer,
                <span class="tooltip" lang="ru">Существует телеграм-бот, у которого по коду можно получить книгу, а по
                    названию серии/автору список этих кодов и книг. Однако это по сути просто БД.<br><br>
                    Мой бот реализует сразу несколько функций.<br>
                    1. Хранит серии, который "Читаются".<br>
                    2. По настраиваемому расписанию проверяет наличие обновлений книг, которые в процессе написания.<br>
                    3. Если книга завершена, а серия - нет, он автоматически начинает отслеживать следующую книгу.<br>
                    4. Хранит книги, списки, пользователей в локальной БД.<br>
                    5. При запросе, или по настраиваемому расписанию, он отправляет в чат пользователю обновленные
                    книги.<br><br>
                    При разработке возникала проблема общения ботов, они на уровне API не могут взаимодействовать. Она
                    была
                    решена путем запуска user-bot в паралельном потоке, для парсинга даннх библиотеки и отправки
                    кодов.<br>

                </span>
            </span>
            который взаимодействовал с онлайн библиотекой, отслеживал обновления отслеживаемых книг и хранил на
            личном сервере мою библиотеку. Бот приостановил свое функционирование весной 2026 года, в результате
            ограничений
            доступа.
            На данный момент восстанавливается доступ и улучшается функциональность.
        </p>
        <p class="text2 pr">
            Весной 2024 года начал крупный проект,
            <span class="hint" hx-get="/pages/MS/ISCOS" hx-swap="outerHTML" hx-target="#content-wrapper">
                И.С.К.О.С,
                <span class="tooltip">Проект <img src="/~s563212/lab1/static/images/link.png" style="height: 12px;"></span>
            </span>
            который изначально начинался как система умного дома, но позже перерос в Интеллектуальную Систему Контроля
            Окружающей Среды, и который до сих пор является приоритетом в моей проектной деятельности.
        </p>
        <p class="text2 pr">
            В ноябре 2024 года устроился в <span class="hint">
                НОЦ ИЦАП
                <span class="tooltip" lang="ru" style="max-width: 600px;">
                    Научно-учебный комплекс «Машиностроительные технологии», <br>
                    Научно-образовательный центр «Инновационный центр аддитивного производства», <br>
                    Лаборатория реверс-инжиниринга и прототипирования, МГТУ им Н.Э. Баумана, Москва
                </span>
            </span> техником, где работаю по сей день. Занимаюсь модификацией ПО и узлов оборудования.
            Осенью 2025 года с коллегами приняли участие в всероссийского чемпионате
            <span class="hint" hx-get="/popup/photo/diplomas/3d-profi-2025.jpg" hx-target="#popup-container"
                hx-swap="innerHTML">
                «3Д-Профи 2025»
                <span class="tooltip">Диплом <img src="/~s563212/lab1/static/images/save.png" style="height: 12px;"></span>
            </span>с проектом
            <span class="hint" hx-get="/pages/MP/MPWE" hx-swap="outerHTML" hx-target="#content-wrapper">
                MPWE,
                <span class="tooltip">Проект <img src="/~s563212/lab1/static/images/link.png" style="height: 12px;"></span>
            </span> где взяли
            призерство.
        </p>
        <p class="text2 pr">
            В том же 2025 году, в составе команды от университета МГТУ им Н.Э. Баумана, университет занял второе место в
            хакатоне
            <span class="hint" hx-get="/popup/photo/diplomas/techno-night-2025.jpg" hx-target="#popup-container"
                hx-swap="innerHTML">
                «Ночь технологий. Лидеры форм» 2025.
                <span class="tooltip">Диплом <img src="/~s563212/lab1/static/images/save.png" style="height: 12px;"></span>
            </span> Мероприятие проходило в течение ночи с 18 до 12. В ходе работы занимался
            программированием ПО для 3д принтера, 3д моделированием и организационной работой.
        </p>
        <p class="text2 pr">
            С сентября по декабрь 2025 года принимал участие в акселерационной программе МГТУ им Н.Э. Баумана 2025. В
            рамках
            программы представлял проект
            <span class="hint" hx-get="/pages/MP/MPWE" hx-swap="outerHTML" hx-target="#content-wrapper">
                MPWE
                <span class="tooltip">Проект <img src="/~s563212/lab1/static/images/link.png" style="height: 12px;"></span>
            </span>. Прошел все 3 этапа отбора проектов, и в результате презентовал проект перед комиссией инвесторов.
            Проект заинтересовал представителя компании
            <a class="hint" href="https://deco3d.ru/?ysclid=mpdwtpbeaz292089214" target="_blank">
                DECO 3d,
                <span class="tooltip">DECO 3d <img src="/~s563212/lab1/static/images/link.png" style="height: 12px;"></span>
            </a> в результате чего получил поддержку на развитие проекта. Успешно
            <span class="hint" hx-get="/popup/photo/diplomas/MGTU-accel.jpg" hx-target="#popup-container"
                hx-swap="innerHTML">
                завершил программу,
                <span class="tooltip">Диплом <img src="/~s563212/lab1/static/images/save.png" style="height: 12px;"></span>
            </span> пройдя отбор и попав в 12 лучших проектов акселератора.
        </p>
        <p class="text2 pr">
            В январе 2026 года устроился в компанию
            <a class="hint" href="https://inforser.ru/" target="_blank">
                ИНФОРСЕР,
                <span class="tooltip">ГК ИНФОРСЕР <img src="/~s563212/lab1/static/images/link.png" style="height: 12px;"></span>
            </a> Python-разработчиком. Компания занимается
            производством систем и оборудования для МИД РФ и других российских компаний.
            Разрабатывал комплекс систем для доступа к конфигуратору устройств беспроводной внутренней связи, включая
            сам
            конфигуратор. Комплекс состоит из набора автоматизированных управляющих скриптов для управления сетью
            и системой,
            <span class="hint">
                AlwaysON Net,
                <span class="tooltip" lang="ru">
                    Система скриптов за счет переключение между сохранеными сетями и точкой доступа гарантирует доступ к
                    сети устройства. Это необходимо для настройки/обновления устройств к которым сложно/невозможно
                    получить
                    доступ даже в случае отключения WiFi.
                </span>
            </span>а также
            <span class="hint" hx-get="/pages/projects/webConfig" hx-swap="outerHTML" hx-target="#content-wrapper">
                веб-конфигуратора,
                <span class="tooltip">Веб интерфейс для настройки оборудования. Включает в себя 4 обязательные
                    страницы и любое количенство дополнительных. Имеет систему защиты 16 значным кодом, на уровне
                    браузера.<br>
                    Сам интерфейс построен на базе HTMX, что позволяет менять содержимое без использования тяжелого
                    WebSockets<br>
                    Подробнее рассмотреть интерфейс можно на странице проекта
                    <img src="/~s563212/lab1/static/images/link.png" style="height: 12px;">
                </span>
            </span>предоставляющего доступ к внутренней панели управления устройством.
            По завершению проекта в апреле 2026 года покинул компанию.
        </p>
        <p class="text2 pr">
            В настоящий момент пишу диплом по теме "Разработка проекта создания 3д принтера с системой смены
            инструмента",
            по проекту
            <span class="hint" hx-get="/pages/MP/MPTP" hx-swap="outerHTML" hx-target="#content-wrapper">
                MPTP.
                <span class="tooltip">Проект <img src="/~s563212/lab1/static/images/link.png" style="height: 12px;"></span>
            </span> На предзащите получена отличная оценка, как за анализ рынка и среды, так и за проработку проекта.
        </p>

    </div>

</div>