<div class="content-wrapper" id="content-wrapper">
    <p class="labelDev" style="font-size: 16px; margin: 0px auto ">{{ url }}</p>
    <img src="/static/images/goose/goose 10.png" style="
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    ">
    <p class="labelDev"> Страница в разработке</p>
    <style>
        .labelDev {
            display: block;
            margin: 50px auto;
            max-width: 100%;
            font-size: 36px;
            text-align: center;
        }
    </style>
</div>