<div class="content-wrapper" id="content-wrapper">
    <p class="headL">MSCOM</p>
    <div class="contex">
        <p class="text2 pr">
            MSCOM - устройство на базе ATmega32u4, для передачи данных COM порта по радиочастоте 2,4 GHz </p>
    </div>

    <button class="image-huge" hx-get="/popup/photo/MSCOM/stend_peresvet.png" hx-target="#popup-container"
        hx-swap="innerHTML" style="margin-top: 20px; cursor: zoom-in;">
        <img src="/~s563212/lab1/static/images/MSCOM/stend_peresvet.png">
    </button>
</div>