<div class="content-wrapper" id="content-wrapper">
    <p class="headL">webConfig</p>
    <div class="contex">
        <p class="text2 pr">
            WebConfig - это веб интерфейс для настройки оборудования. Включает в себя 4 обязательные
            страницы и любое количенство дополнительных. Имеет систему защиты 16 значным кодом, на уровне
            браузера. </p>
    </div>
    <table class="row-space">
        <tr>
            <td>
                <button class="image-huge" hx-get="/popup/photo/AlwaysON Net/page1.png" hx-target="#popup-container"
                    hx-swap="innerHTML">
                    <img src="/static/images/AlwaysON Net/page1.png">
                </button>
                <p class="text5">Страница управления сетью</p>
            </td>
            <td>
                <button class="image-huge" hx-get="/popup/photo/AlwaysON Net/page4.png" hx-target="#popup-container"
                    hx-swap="innerHTML">
                    <img src="/static/images/AlwaysON Net/page4.png">
                </button>
                <p class="text5">Пример экрана настройки</p>
            </td>
        </tr>
        <tr>
            <td>
                <button class="image-huge" hx-get="/popup/photo/AlwaysON Net/page5.png" hx-target="#popup-container"
                    hx-swap="innerHTML">
                    <img src="/static/images/AlwaysON Net/page5.png">
                </button>
                <p class="text5">Страница управления устройством</p>
            </td>
            <td>
                <button class="image-huge" hx-get="/popup/photo/AlwaysON Net/page6.png" hx-target="#popup-container"
                    hx-swap="innerHTML">
                    <img src="/static/images/AlwaysON Net/page6.png">
                </button>
                <p class="text5">Страница диагностики</p>
            </td>
        </tr>
    </table>

    <style>
        .image-huge img {
            border-radius: 8px;
            cursor: zoom-in;
        }

        .image-huge {
            border: 0px solid rgb(33, 48, 187);
            border-radius: 10px;
        }

        td {
            padding: 10px;
            margin-top: 5px;
        }
    </style>
</div>