<div class="content-wrapper" id="content-wrapper">
    <p class="headL">Попов Артём Романович, 21 год</p>
    <div class="contex">
        <button class="photoMy" style="margin-top: 20px;">
            <img src="/~s563212/lab1/static/images/photo/photo6.jpg">
        </button>
        <p class="text2 pr">Уже более 10 лет я погружен в информационные технологии и более 8 лет развиваюсь в области
            аддитивных технологий.</p>

        <p class="text2 pr">С 10 класса я активно участвую в проектной деятельности, инженерных чемпионатах,
            акселерационных
            программах и других технологических мероприятиях. Большинство моих проектов связано с аддитивными
            технологиями,
            поскольку эту область я рассматриваю не только как профессиональный интерес, но и как личное увлечение.
            Однако
            нужно отметить, что большинство проектов, которые не «выходят наружу», — это программы, устройства на базе
            Arduino, ESP32/8266 и различные сервисы.</p>

        <p class="text2 pr">Основное направление, с которым я планирую связать свою профессиональную деятельность —
            информационные технологии, backend-разработка, автоматизация и инженерные программно-аппаратные системы. При
            этом я продолжаю развивать собственные проекты в области аддитивного производства и интеллектуальных систем
            управления.</p>

        <p class="text2 pr">Одним из ключевых проектов является
            <span class="hint" hx-get="/pages/MS/ISCOS"
                hx-swap="outerHTML" hx-target="#content-wrapper">
                И.С.К.О.С
                <span class="tooltip">Проект <img src="/~s563212/lab1/static/images/link.png" style="height: 12px;"></span>
            </span>— интеллектуальная система контроля окружающей
            среды. Изначально проект создавался как система умного дома, однако со временем трансформировался в более
            масштабную платформу. В основе ИСКОС лежит ИИ-агент, интегрированный в цифровой двойник помещения, здания
            или
            иной среды. Цифровой двойник формируется на основе крупной сети датчиков и устройств, что позволяет получать
            высокоточную телеметрию и анализировать состояние окружающей среды в режиме реального времени.</p>
        <button class="photoMy" hx-get="/popup/photo/photo/photo3.png" hx-target="#popup-container" hx-swap="innerHTML"
            style="margin-top: 20px; cursor: zoom-in; float: left;">
            <img src="/~s563212/lab1/static/images/photo/photo3.png">
        </button>
        <p class="text2 pr">За последние 7 лет я неоднократно выступал на инженерных и технологических мероприятиях,
            занимая
            призовые места. Первым крупным проектом стал полетный контроллер, представленный в 10 классе. Позже я стал
            призером олимпиады школьников «Шаг в будущее», что позволило поступить в МГТУ им. Н. Э. Баумана по БВИ.
        </p>

        <p class="text2 pr">На втором курсе я занял призовые места в акселерационной программе
            <span class="hint" hx-get="/popup/photo/diplomas/technoliders-2024.jpg" hx-target="#popup-container"
                hx-swap="innerHTML">
                «Технолидеры Москвы 23-24»
                <span class="tooltip">Диплом <img src="/~s563212/lab1/static/images/save.png" style="height: 12px;"></span>
            </span> и на всероссийском чемпионате
            <span class="hint" hx-get="/popup/photo/diplomas/3d-profi-2024.jpg" hx-target="#popup-container"
                hx-swap="innerHTML">
                «3Д-Профи 2024»,
                <span class="tooltip">Диплом <img src="/~s563212/lab1/static/images/save.png" style="height: 12px;"></span>
            </span>. В 2025 году стал призеров на всероссийском чемпионате
            <span class="hint" hx-get="/popup/photo/diplomas/3d-profi-2025.jpg" hx-target="#popup-container"
                hx-swap="innerHTML">
                «3Д-Профи 2025»,
                <span class="tooltip">Диплом <img src="/~s563212/lab1/static/images/save.png" style="height: 12px;"></span>
            </span>хакатоне
            <span class="hint" hx-get="/popup/photo/diplomas/techno-night-2025.jpg" hx-target="#popup-container"
                hx-swap="innerHTML">
                «Ночь технологий. Лидеры форм»
                <span class="tooltip">Диплом <img src="/~s563212/lab1/static/images/save.png" style="height: 12px;"></span>
            </span>, где представлял университет, а также в <span class="hint"
                hx-get="/popup/photo/diplomas/MGTU-accel.jpg" hx-target="#popup-container" hx-swap="innerHTML">
                акселерационной программе МГТУ им. Н. Э. Баумана.
                <span class="tooltip">Диплом <img src="/~s563212/lab1/static/images/save.png" style="height: 12px;"></span>
            </span>
        </p>

        <p class="text2 pr">Дома у меня оборудована небольшая техническая лаборатория: два FDM-принтера, способных
            работать
            с
            инженерными материалами, компактный CNC-станок, сервер и набор электронных компонентов. Принтеры глубоко
            модифицированы, так как почти все решения на рынке требуют того или иного вмешательства, но многие либо
            боятся,
            либо просто не хотят проводить модификации.</p>

        <p class="text2 pr">На домашнем сервере развернуто собственное облачное хранилище на базе Nextcloud, а также
            несколько
            дополнительных сервисов. Переход на self-hosted-инфраструктуру позволил мне глубже изучить Linux, Bash,
            контейнеризацию и сетевую инфраструктуру. Отдельной задачей стала настройка внешнего доступа и сетевой
            инфраструктуры.</p>

        <p class="text2 pr">Данный сайт размещен на VPS в Нидерландах. Там расположен сервис, который не создает высокой
            нагрузки
            на систему, но значительно помогает в повседневной жизни и коммуникации в интернете. Его также пришлось
            собирать
            самостоятельно. Возникало много конфликтов сертификатов из-за оборудования, однако их удалось решить.</p>

        <p class="text2 pr">Кстати, о сайте. Backend написан на Python + Flask. Сам сайт, с точки зрения архитектуры,
            представляет собой одну страницу, на которой с помощью HTMX + Jinja2 заменяется содержимое блока. Это
            позволяет
            существенно снизить объем передаваемых данных и ускорить загрузку страницы.</p>
    </div>
</div>