<div class="content-wrapper" id="content-wrapper">
    <p class="headL">Образование и опыт работы</p>
    <div class="contex">
        <p class="text1">Образование</p>
        <p class="text2">Среднее образование</p>
        <ul>
            <li>
                <p class="text3">ГБОУ г. Москвы "Школа № 717"</p>
                <p class="text4">2011 - 2015 гг. Начальная школа</p>
            </li>
            <li>
                <p class="text3">ГБОУ г. Москвы «Школа № 1576»</p>
                <p class="text4">2015 - 2018 гг. Математический класс</p>
            </li>
            <li>
                <p class="text3">ГБОУ г. Москвы «Инженерная школа № 1581» при МГТУ им Н.Э. Баумана</p>
                <p class="text4">2018 - 2022 гг. Математический класс</p>
            </li>
        </ul>
        <p class="text2">Бакалавриат</p>
        <ul>
            <li>
                <p class="text3">МГТУ им Н.Э. Баумана</p>
                <p class="text4">2022 - 2026 гг. ИБМ6 Инноватика</p>
            </li>
        </ul>
        <p class="text2">Магистратура</p>
        <ul>
            <li></li>
        </ul>
        <p class="text2">Дополнительное образование</p>
        <ul>
            <li>
                <p class="text3">Программирование микроконтроллеров на базе платформы "Arduino"</p>
                <p class="text4">2020-2022 ГБОУ «Инженерная школа 1581», Москва</p>
            </li>
            <li>
                <p class="text3">Программирование на языке Python</p>
                <p class="text4">2020-2022 ГБОУ «Инженерная школа 1581», Москва</p>
            </li>
            <li>
                <p class="text3">3D-печать, 3D-моделирование, реверс-инжиниринг</p>
                <p class="text4">2020-2022 ГБОУ «Инженерная школа 1581», Москва</p>
            </li>
            <li>
                <p class="text3">Курс «Инженер-разработчик встраиваемых систем»</p>
                <p class="text4">2023-2024 МГТУ им Н. Э. Баумана, Москва</p>
            </li>
            <li>
                <p class="text3">Курс «Fullstack разработчик»</p>
                <p class="text4">2024-2025 МГТУ им Н. Э. Баумана, Москва</p>
            </li>
        </ul>
    </div>
    <div class="contex">
        <p class="text1">Опыт работы</p>
        <ul>
            <li>
                <p class="text3">Компьютерный клуб "Cyber Tiger", Москва</p>
                <p class="text4">Помощник администратора</p>
                <p class="text4">Июнь 2021 - август 2021 (2 мес.)</p>
            </li>
            <li>
                <p class="text3">МГТУ им Н.Э. Баумана, Москва</p>
                <p class="text4">Научно-учебный комплекс «Машиностроительные технологии»,</p>
                <p class="text4">Научно-образовательный центр «Инновационный центр аддитивного производства»,</p>
                <p class="text4">Лаборатория реверс-инжиниринга и прототипирования.</p>
                <p class="text4">Лаборант</p>
                <p class="text4">Ноябрь 2024 – нынешнее время</p>
            </li>
            <li>
                <p class="text3">ГК Инфорсер, Инфорсер Инжиниринг, Москва</p>
                <p class="text4">Разработчик</p>
                <div style="display: flex; align-items:flex-end;">
                    <p class="text4">Январь 2026 – апрель 2026 (3 мес.)</p>
                    <a class="file-button" href="/file/reference_letter" download>
                        <img src="/~s563212/lab1/static/images/save.png" class="file-icon">
                        <span class="tooltip">Рекомендация</span>
                    </a>
                </div>
                <p class="text4" hidden>Причина увольнения: завершение проекта</p>
            </li>

        </ul>
    </div>
    <div class="contex">
        <p class="text1">Практика</p>
        <ul>
            <li>
                <p class="text3">ООО «РЭК», Зеленоград</p>
                <p class="text4">Оператор 3д принтеров, инженер-программист</p>
                <p class="text4">Июнь 2024 - август 2024 (2 мес.)</p>
            </li>

        </ul>
    </div>

    <style>
        ul {
            padding: 0px;
            gap: 0px 0px;
            margin-left: 50px;
        }

        li {
            margin-top: 20px;
            gap: 0px;
            padding: 0px;
        }
    </style>
</div>