<div class="content-wrapper" id="content-wrapper">
    <p class="headL">Мотивационное письмо</p>
    <p class="text2 pr">
        Добрый день. Подробная информация о моих проектах, навыках и практическом опыте представлена в портфолио,
        представленном на сайте. При разработке я уделил особое внимание структуре, наполнению и демонстрации
        практических навыков. В портфолио размещено много ссылок на страницы, файлы и изображения. В архиве приложена
        статическая версия сайта, поэтому часть интерактивного функционала может быть недоступна. К тому же сайт будет
        постоянно обновляться, в частности после защиты диплома там появится новая информация.
    </p>
    <p class="text2 pr">
        Я предпочитаю облачные ресурсы, хоть и понимаю, что не везде они являются доступными или обоснованными. Был
        выбран формат странички, так как я не только планирую использовать этот ресурс в дальнейшем, но и хочу
        продемонстрировать часть своих навыков. Некоторые проекты пока представлены кратко, однако основная часть
        практического опыта отражена на сайте. В дальнейшем планирую расширять описание проектов и технических
        наработок, а также добавить те, которые не упомянуты.
    </p>
    <p class="text2 pr">
        Я обучался в МГТУ им Н.Э. Баумана, потому готов к высокой нагрузке на протяжении долгого времени. Обучался по
        направлению «Инноватика» на факультете «Инженерный бизнес и менеджмент». Несмотря на название факультета, нам
        давали серьезную инженерно-математическую подготовку. Ни один из преподавателей фундаментальных дисциплин не
        давал нам скидку на «непрофильный» факультет. Физику, программирование, математический анализ, статистику и
        прочее нам давали и требовали на уровне университетских стандартов. Наравне с этим нас обучали тому, как
        руководить проектами, предприятиями, рассчитывать различные показатели бизнеса и запускать стартапы.
        Дополнительно я был старостой группы, что позволило получить опыт управления группой.
    </p>
    <p class="text2 pr">
        Можно сказать, что нам дали полноценную подготовку на должность, если не директора предприятия, то руководителя
        отдела, который будет не просто начальником, но и будет досконально разбираться в сфере, в которой он работает и
        деятельности своих подчиненных. Основной уклон был в область современных технологий и их развития.
    </p>
    <p class="text2 pr">
        За время обучения я также прошел два курса переподготовки: «Инженер-разработчик встраиваемых систем», который
        дал мне знания о работе с микроконтроллерами, цепями и прочим, и «FullStack разработчик», который был
        ориентирован на разработку сайтов, веб-интерфейсов, но затрагивал и DevOps направление.
    </p>
    <p class="text2 pr">
        На самом деле, хоть мое портфолио и состоит в основном из работ в области АТ (Аддитивных Технологий), мне ближе
        ИТ. Мне достаточно легко дается проектирование сетей и понимание логики работы программ. Еще в 9 классе
        преподаватель информатики приучил меня работать с функциями и объектами, а не писать линейный код. Сейчас для
        меня особенно важно систематизировать накопленный опыт и выстроить его в единую профессиональную траекторию.
    </p>
    <p class="text2 pr">
        Возникает вопрос: почему после бакалавриата в МГТУ им. Н.Э. Баумана я выбрал ИТМО в Санкт-Петербурге? Я
        рассмотрел большое количество магистратур в различных университетах, и пришел к выводу, что большинство делает
        упор на область работы, к примеру ПО для научных приборов, авиатехники, ядерной энергетики и прочего. Эта
        магистратура ориентирована скорее на технологический стек, что для меня более предпочтительно. К тому же
        направление «Веб-технологии» — это, по сути, основная область, в которой я развиваюсь на протяжении последних
        лет.
    </p>
    <p class="text2 pr">
        Я выбрал именно направление «Веб-технологии», потому что сейчас большинство компаний переносят или разрабатывают
        свои сервисы именно в вебе. Это связано не только с удобством для пользователей, но и с универсальностью
        веб-платформ: веб-сервисы позволяют быстрее масштабировать продукты, централизованно обновлять функционал,
        интегрировать распределённые системы и обеспечивать доступ к сервисам независимо от устройства и операционной
        системы. Фактически веб сегодня становится базовым интерфейсом для взаимодействия бизнеса, пользователей,
        оборудования и облачной инфраструктуры.
    </p>
    <p class="text2 pr">
        Для меня это направление особенно интересно тем, что сочетает архитектуру программных систем, сетевые
        технологии, DevOps-подходы, проектирование интерфейсов и работу с данными в единой экосистеме.
    </p>
    <p class="text2 pr">
        Как я писал в портфолио, у меня есть крупный проект, к реализации которого я иду уже давно. И именно это
        направление позволит мне наиболее эффективно развивать текущие проекты и профессиональные навыки. В дальнейшем
        какие-то пробелы можно закрыть курсами, но на мой взгляд фундаментальное образование закладывается очно, в вузе.
        К тому же я планирую изучать факультативы, что поможет получить более высокий уровень знаний.
    </p>
    <p class="text2 pr">
        О себе могу сказать, что я дисциплинирован, способен усваивать большие объемы информации. У меня нет вредных
        привычек, но иногда я слишком увлекаюсь отладкой и оптимизацией проектов, стремясь добиться максимально
        качественной реализации. В случае поступления в магистратуру я планирую продолжать проектную деятельность уже в
        рамках ИТМО.
    </p>
</div>