<div class="content-wrapper" id="content-wrapper">

<p class="headL">Профессиональные достижения</p>
<div class="contex">
    <p class="text1">Дипломы</p>

    <ul>
        <li>
            <div class="linear-block">
                <p class="text2">Финалист акселерационной программы МГТУ им Н.Э. Баумана 2025</p>
                <button class="file-button" hx-get="/popup/photo/diplomas/MGTU-accel.jpg" hx-target="#popup-container"
                    hx-swap="innerHTML" style="margin-top: 10px;">
                    <img src="/~s563212/lab1/static/images/save.png" class="file-icon">
                    <span class="tooltip">Сертификат</span>
                </button>
            </div>

            <p class="text3">С проектом «Качающийся экструдер MPWE»</p>
        </li>
        <li>
            <div class="linear-block">
                <p class="text2">Призер хакатона «Ночь технологий. Лидеры форм» 2025</p>
                <button class="file-button" hx-get="/popup/photo/diplomas/techno-night-2025.jpg" hx-target="#popup-container"
                    hx-swap="innerHTML" style="margin-top: 10px;">
                    <img src="/~s563212/lab1/static/images/save.png" class="file-icon">
                    <span class="tooltip">Диплом</span>
                </button>
            </div>
            <p class="text3">В составе команды МГТУ им Н.Э. Баумана.</p>
        </li>
        <li>
            <div class="linear-block">
                <p class="text2">Призер всероссийского чемпионата «3Д-Профи 2025».</p>
                <button class="file-button" hx-get="/popup/photo/diplomas/3d-profi-2025.jpg" hx-target="#popup-container"
                    hx-swap="innerHTML" style="margin-top: 10px;">
                    <img src="/~s563212/lab1/static/images/save.png" class="file-icon">
                    <span class="tooltip">Диплом</span>
                </button>
            </div>
            <p class="text3">С проектом «Качающийся экструдера MPWE»</p>
        </li>
        <li>
            <div class="linear-block">
                <p class="text2">Призер акселератора «Технолидеры Москвы 23-24»</p>
                <button class="file-button" hx-get="/popup/photo/diplomas/technoliders-2024.jpg" hx-target="#popup-container"
                    hx-swap="innerHTML" style="margin-top: 10px;">
                    <img src="/~s563212/lab1/static/images/save.png" class="file-icon">
                    <span class="tooltip">Диплом</span>
                </button>
            </div>
            <p class="text3">C проектом «MSCOM-беспроводной коммутатор»</p>
        </li>
        <li>
            <div class="linear-block">
                <p class="text2">Призер всероссийского чемпионата «3Д-Профи 2024».</p>
                <button class="file-button" hx-get="/popup/photo/diplomas/3d-profi-2024.jpg" hx-target="#popup-container"
                    hx-swap="innerHTML" style="margin-top: 10px;">
                    <img src="/~s563212/lab1/static/images/save.png" class="file-icon">
                    <span class="tooltip">Диплом</span>
                </button>
            </div>
            <p class="text3">C проектом «MSCOM-беспроводной коммутатор»</p>
        </li>
        <li>
            <div class="linear-block">
                <p class="text2">Призер олимпиады школьников «Шаг в будущее» 2021-2022, профиль «Инженерное дело»,
                    специализация «Техника и технологии».
                </p>
                <button class="file-button d-none" hx-get="/popup/photo/goose/goose 2.png" hx-target="#popup-container"
                    hx-swap="innerHTML" style="margin-top: 10px;" >
                    <img src="/~s563212/lab1/static/images/save.png" class="file-icon" >
                    <span class="tooltip">Диплом</span>
                </button>
            </div>
            <p class="text3">С докладом «Исследование инновационных центров Российской Федерации».</p>
        </li>
        <li>
            <div class="linear-block">
                <p class="text2">Призер конкурса проектов и исследований «Инженеры Будущего» 2021, направление
                    «Инженеры»,
                    секция «Интелектуальные робототехнические системы, беспилотные аппараты»</p>
                <button class="file-button" hx-get="/popup/photo/diplomas/1581-engeneer.jpg" hx-target="#popup-container"
                    hx-swap="innerHTML" style="margin-top: 10px;">
                    <img src="/~s563212/lab1/static/images/save.png" class="file-icon">
                    <span class="tooltip">Диплом</span>
                </button>
            </div>
            <p class="text3">
                C проектом «Устройство автоматической стабилизации и контроля <br>
                беспилотного летательного аппапрата SILF»</p>
        </li>
    </ul>
</div>
<div class="contex">
    <p class="text1">Публикации</p>

    <ul>
        <li>
            <div class="linear-block">
                <p class="text2">Проблемы внедрения на предприятиях России комплексной системы поддержки управления,
                    направленной на координацию взаимодействия систем менеджмента и контроля их эффективности</p>
                <div style="margin-top: 10px;">
                    <a href="http://i.uran.ru/webcab/system/files/journalspdf/dinamika-slozhnyh-sistem-xxi-veka/dinamika-slozhnyh-sistem-xxi-veka-2023-no-2/dinamika.pdf"
                        target="_blank" class="file-button">
                        <img src="/~s563212/lab1/static/images/link.png" class="file-icon">
                        <span class="tooltip">Оглавление</span>
                    </a>
                    <br>
                    <a href="http://radiotec.ru/ru/journal/Dynamics_of_Difficult_Systems–XXI_century" target="_blank"
                        class="file-button">
                        <img src="/~s563212/lab1/static/images/link.png" class="file-icon">
                        <span class="tooltip">Журнал</span>
                    </a>
                </div>

            </div>

            <p class="text3">Динамика сложных систем — XXI век. — 2023. — Т. 17, № 2. — С. 17. <br>
                Кашеварова Н. А., Иванов А. Е., Попов А. Р.</p>
        </li>
    </ul>
</div>
<style>
    .linear-block {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
    }


    ul {
        padding: 0px;
        gap: 0px 0px;
        margin-left: 50px;
    }

    li {

        gap: 0px;
        padding: 0px;
    }
</style>
</div>